.main {
  max-height: 50vh;
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.result-text-container {
  font-size: 2rem;
  text-align: center;
}

.hangman-drawing {
  position: relative;
}

.block-1 {
  height: 0.625rem;
  width: 15.625rem;
  background-color: black;
}

.block-2 {
  height: 25rem;
  width: 0.625rem;
  background-color: black;
  margin-left: 7.5rem;
}

.block-3 {
  height: 0.625rem;
  width: 12.5rem;
  background-color: black;
  margin-left: 7.5rem;
}

.block-4 {
  width: 0.625rem;
  height: 3.125rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
}

.head {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 100%;
  border: 0.625rem solid black;
  position: absolute;
  top: 3.125rem;
  right: -1.875rem;
}

.body {
  width: 0.625rem;
  height: 6.25rem;
  background-color: black;
  position: absolute;
  top: 7.5rem;
  right: 0;
}

.right-arm {
  width: 6.25rem;
  height: 0.625rem;
  background-color: black;
  position: absolute;
  top: 9.375rem;
  right: -6.25rem;
  rotate: -30deg;
  transform-origin: left bottom;
}

.left-arm {
  width: 6.25rem;
  height: 0.625rem;
  background-color: black;
  position: absolute;
  top: 9.375rem;
  right: 0.625rem;
  rotate: 30deg;
  transform-origin: right bottom;
}

.right-leg {
  width: 6.25rem;
  height: 0.625rem;
  background-color: black;
  position: absolute;
  top: 13.125rem;
  right: -5.625rem;
  rotate: 60deg;
  transform-origin: left bottom;
}

.left-leg {
  width: 6.25rem;
  height: 0.625rem;
  background-color: black;
  position: absolute;
  top: 13.125rem;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}

.word {
  display: flex;
  gap: 0.25em;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.letter {
  border-bottom: 0.1em solid black;
}

.keyboard-container {
  align-self: stretch;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 0.5rem;
}

.keyboard-button {
  width: 100%;
  border: 3px solid black;
  background: none;
  aspect-ratio: 1/1;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.keyboard-button:hover:not(:disabled),
.keyboard-button:focus {
  background-color: hsl(200, 100%, 80%);
}

.keyboard-button.active {
  background-color: hsl(200, 100%, 50%);
}

.keyboard-button.inactive {
  opacity: 0.3;
}

.keyboard-button:disabled {
  cursor: default;
}
